.container_general{
border: 5px solid aquamarine;
background: aquamarine;
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
grid-row: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.container_superior{
    border: 5px solid yellow;
    background: yellow;
    width: 100%;
    grid-column: 1 / 11;
    grid-row: 1;
}

.container_inferior{
    border: 5px solid yellow;
    background: yellow;
    width: 100%;
    grid-column: 1 / 11;
    grid-row: 3
}

.container_centro{
    border: 5px solid blue;
    grid-column: 1 / 11;
    grid-row: 4 / 10 ;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-row: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.izquierda_centro{
    border: 5px solid red;
    grid-column: 1 / 5;
}

.derecha_centro{
    border: 5px solid red;
    grid-column: 6 / 10; 
}


